{% extends '::base.html.twig' %}

{% block title %}My Library{% endblock %}

{% block body %}
    <h1>Authors</h1>
    {% if app.user is not null %}
    <p><a href="{{ path('crevax_library_author_index') }}">Add Author</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}