{% extends '::base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
  <h2>Portfolio</h2>

  <p>Eventually this will contain previews of highlighted/newest portfilio items (currently only Github)</p>
  
  <h3>All GitHub Repositories</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <td>Repository</td>
        <td>Language</td>
        <td>Last Updated</td>
      </tr>
    </thead>
    <tbody>
    {% for repository in repositories %}
      <tr>
        <td><a href="{{ repository.html_url }}">{{ repository.full_name }}</a></td>
        <td>{{ repository.language }}</td>
        <td>{{ repository.updated_at|date("m/d/Y") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}