{% extends '::base.html.twig' %}

{% block title %}Professionaly Nonprofessional{% endblock %}

{% block body %}
    <h1>Salute!</h1>
    <p>Thanks for stumbling on my little corner of the web! This site, as the name suggests, is all about me, CJ Davis. Though it sounds vain, that is the most accurate way I can describe this site. There is no specific purpose except to showcase to the internet anything I feel like showing.</p>
    <p>In the meantime you can check out my <a href="https://github.com/Crevax">Github profile</a>, my <a href="http://www.flickr.com/photos/crevax/">Flickr</a> albums, or follow me on <a href="https://twitter.com/crevax">Twitter</a>.</p>
    <p>I also have a couple cool sites I'd like you to check out:</p>
    <ul>
        <li><a href="http://valor-zeal.org/">Valor &amp; Zeal Gaming</a></li>
        <li><a href="http://dead-pixel.com/">The Dead Pixel Show</a></li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/crevaxsite/js/holder.js') }}"></script>
{% endblock %}