{% extends '::base.html.twig' %}

{% block title %}My Library{% endblock %}

{% block body %}
    <h1>Reading is good!</h1>
    <p><a href="{{ path('crevax_library_author_index') }}">Authors</a>
    <p><a href="{{ path('crevax_library_book_index') }}">Books</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}